.TaskTable {
    margin-left: auto;
    margin-right: auto;
}

.TaskTable tr td {
    width: 200px; 
    text-align: center;
 
}

input {
    width: 170px;
    height: 50px;
}

.DivTaskTableEntry {
    height: 50px;
    font-size: 3em;
    line-height: 90%;
}

.DivTaskTableEntryDate {
    height: 50px;
    font-size: 1em;
    line-height: 20%;
}

.btnToggleList {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 12px 2px 12px;
}

.divToggleList {
    text-decoration: none;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
