.TaskTable {
    margin-left: auto;
    margin-right: auto;
}

.TaskTable tr td {
    width: 200px; 
    text-align: center;
 
}

input {
    width: 170px;
}

.btnToggleList {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 12px 2px 12px;
    text-decoration: none;
}
