<form id="NewTask">
    <table class="TaskTable">
        <tr>
            <td>
                {{input value=task.title placeholder="Title"}}
            </td>
            <td>
                {{input value=task.description placeholder="Description (optional)"}}
            </td>
            <td>
            </td>
            <td>
                <button {{action "createTask" task}}>Create</button>
            </td>
        </tr>
    </table>
</form>

