<table class="TaskTable">
    {{#each tasks as |task|}}
        {{#unless task.dateCompleted}}
            {{show-task task=task completeTask="completeTask"}}
        {{/unless}}
    {{/each}}
</table>
