<tr>
    <td>
        {{task.title}}
    </td> 
    <td>
        {{task.description}}
    </td>
    <td>
        <em>{{task.createdDate}}</em>
    </td>
    <td>
        <button {{action "deleteTask" task}} class="btn btn-submit">Done</button>
    </td>
</tr>
