<main class="HolyGrail-content">
    {{create-new-task task=model.task createTask="createTask"}}
    {{show-task-list tasks=model.data deleteTask="deleteTask"}}
</main>
<nav class="HolyGrail-nav">
</nav>
<aside class="HolyGrail-ads">
</aside>
