<main class="HolyGrail-content">

    {{task-list model=model createTask="createTask" completeTask="completeTask"}}
</main>

<nav class="HolyGrail-nav">
</nav>

<aside class="HolyGrail-ads">
</aside>
