<div class="container">
    {{create-new-task task=model.task createTask="createTask"}}
    <table class="taskTable">
        {{#each model.data as |task|}}
            {{show-task task=task deleteTask="deleteTask"}}
        {{/each}}
    </table>
</div>
